@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cor1: #140226;
  --cor2: #261440;
  --cor3: #383A59;
  --cor4: #495F73;
  --cor5: #93AEBF;
}


body {
  background-color:var(--cor1);
  background-image: linear-gradient(45deg,var(--cor1), var(--cor4));
  height: 100vh;
}

a {
  color: white;
  font-family:  "Arsenal SC", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.5em;
  margin: 50px;
}

nav {
  padding: 30px 40px 0px 100px;
  
}

a:hover{
  text-decoration: none;
  background-color: var(--cor1);
  border-radius: 7px;
  transition-duration: 0.8s;
  
}

h1 {
  background-image: linear-gradient(-90deg, var(--cor4), var(--cor3), var(--cor1));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin:10px 0px 30px 0px;
  
}
main {
  font-family:  "Arsenal SC", sans-serif; 
  background-color: white;
  padding: 15px;
  margin: 50px 0px 0px 50px;
  border-radius: 20px;
  min-width: 320px;
  max-width: 724px;
}